#vtable th {
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
    border-top: 1px solid #666666;
    padding-bottom: 12px;
}

#vtable td {
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
    border-top: 1px solid #666666;
    padding-bottom: 12px;
}